@import "tailwindcss";

@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'PPMori', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
